*, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body, #root {
background: #fdf6f6;
min-height: 100vh;
min-height: -webkit-fill-available;
width: 100%;
overflow-x: hidden;
}

